.main {
  display: flex;
  justify-content: space-around;
}
.card {
  width: 250px;
  height: 400px;
  background-color: lightsteelblue;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

img {
  width:150px;
  height:150px;
  border-radius: 50%;
}

.dot {
  display: inline-block;
  width:10px;
  height:10px;
  border-radius: 50%;
background-color: lightseagreen;
}

.selected {
  background-color: navy;
}